<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    
	<bean id="triangle" class="org.odyssey.javabrains06.UsingConstructorInjection.Triangle" >
        <!--<constructor-arg name="type" value="equilax" />-->
        <!--<constructor-arg name="height" value="100" />-->

        <!--constructor-arg name="height" value="100" /-->

        <!--<constructor-arg type="int" value="100" />-->

        <!--<constructor-arg type="java.lang.String" value="equilax" />-->


        <constructor-arg index="0" value="equilax" />
        <constructor-arg index="1" value="100" />



    </bean>

</beans>